<h1>Daylight App</h1>
<h2 id="daylight-message"></h2>

<div id="box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3 " onclick="changeToMorning()">Morning</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeToAfternoon()">Afternoon</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="changeToEvening()">Evening</div>
  </div>
  
</div>
